Repository coretl/copier-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, constraints

ruff:
  name: Run ruff linter
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: Run ruff formatter
  language: system
  entry: ruff format --force-exclude
  require_serial: true

constraints:
  name: Check dev-constraints
  language: system
  entry: pip freeze >

test
  requirements/dev-constraints.txt
Due: constraints

check
  .pre-commit-config.yaml
Due: none

check
  requirements/dev-constraints.txt
Due: constraints

hook
  .pre-commit-config.yaml
  requirements/generate.sh
Due: none

fix
  requirements/generate.sh
Due: none

constraints
  requirements/dev-constraints.txt
Due: constraints

Check
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  requirements/dev-constraints.txt
  requirements/generate.sh
  requirements/regenerate.sh
Due: constraints

r
  requirements/regenerate.sh
Due: none

Regenerate
  .devcontainer/devcontainer.json
  .github/actions/install_requirements/action.yml
  .pre-commit-config.yaml
  Dockerfile
  requirements/constraints.txt
  requirements/regenerate.sh
Due: none

pre-commit names
  .pre-commit-config.yaml
Due: none

pip-tools
  .devcontainer/devcontainer.json
  .github/actions/install_requirements/action.yml
  .github/workflows/_test.yml
  .pre-commit-config.yaml
  Dockerfile
  README.rst
  dev-requirements.txt
  pyproject.toml
  requirements/constraints.txt
  requirements/regenerate.sh
Due: none

Speed
  dev-requirements.txt
  pyproject.toml
Due: none

Make pre-commit more verbose
  .devcontainer/devcontainer.json
  pyproject.toml
Due: none

Fix pip-tools output
  dev-requirements.txt
  pyproject.toml
Due: none

Remove annotations
  README.rst
  dev-requirements.txt
  pyproject.toml
Due: none

test push
  test.md
Due: none

Update _container.yml
  .github/workflows/_container.yml
Due: none

CI tweaks
  .github/workflows/_tox.yml
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .github/workflows/periodic.yml
  .vscode/settings.json
  README.rst
Due: none

Fix some repo-review changes
  .devcontainer/devcontainer.json
  pyproject.toml
Due: none

Run dependabot more often
  .github/dependabot.yml
Due: none

Check lockfiles
  .github/workflows/_docs.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
Due: none

Add switcher and reqs
  .devcontainer/devcontainer.json
  .github/actions/install_requirements/action.yml
  .github/pages/make_switcher.py
  .github/pages/switcher.json
  .github/workflows/_test.yml
  .pre-commit-config.yaml
  Dockerfile
  dev-requirements.txt
  pyproject.toml
Due: ruff, ruff-format

Permissions
  .github/workflows/ci.yml
Due: none

deploy: 209151cd92f23f7b1e8e91ff5d84ccce20fdddb2
  .nojekyll
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  constraints: any of: requirements/dev-constraints.txt
